*{
    margin:0;
    padding:0;
}
.linea1{
    display: flex;
    width: 100%;
}
.telf{
    display: flex;
    padding-left: .5rem;
    padding-right: .5rem;
    width: 10rem;
}
.icoTelf{
    padding-right: .5rem;
}
.mail{
    display: flex;
    width: 14rem;
}
.icoMail{
    padding-right: .5rem;
}
.navBar{
    display: flex;
    padding-left: 40rem;
    width: 25rem;
    justify-content: space-evenly;
}
.linea2{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width:5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.navbar1{
    display: flex;
    width: 20rem;
    padding-left: 60rem;
    justify-content: space-evenly;
}
@media (max-width: 600px){
    .linea1{
        flex-direction: column;
        height: 10rem;
    }
    .icoMail{
        padding-left: .5rem;
    }
    .navBar{
        margin-top: -2.5rem;
        margin-left: 15rem;
        padding: unset;
        width: 15rem;
        height: auto;
        align-items: left;
    }
    .linea2{
        flex-direction: column;
    }
    .logo{
        margin-top: -7rem;
    }
    .navBar1{
        margin-top: 1rem;
    }
}
    
